extends ../layouts/common.pug
block linkStyle 
block content
    .container
        .row 
            h2.mb-3.text-center Users deleted
            form#myform
                input(type="hidden" name="field")
                input(type="hidden" name="type" value="desc")
                input(type="hidden" name="page")
                input(type="hidden" name="name")
                div.row
            form#form-search.input-group.mb-3.col
                input.form-control(type="text",style="max-width:40rem", placeholder="Type username", aria-label="Recipient's username", aria-describedby="button-addon2",name="name" value=`${nameFilter}`)
                button#button-addon2.btn.btn-outline-secondary(type="input") Search
            form.form-check.me-2#form-check(action='/users/trash/action' method="post")
                .d-flex
                    .form-check.me-2
                        input.form-check-input.check-box-all(type='checkbox' value='')
                        label.form-check-label(for='') Select all
                    select.form-select.form-select-sm.me-2(aria-label='Default select example' style="width:10rem" name="action")
                        option(selected='' value='') -- Action --
                        option(value='delete') Delete
                        option(value='restore') Restore
                    btn.btn-action.btn.btn-primary.btn-sm.btn-sm(type="submit") Action
            .col-12(id="table")
                table.table
                    thead
                        tr
                            th.text-center(scope="col") #
                            th.text-center(scope="col") STT
                            th.text-center(scope="col")
                                button.btn-field.btn.p-0#btn-name-input(style="outline:0" value="name") Name
                                    i.bi.bi-arrow-down-up.ms-1#default-sort
                                    i.bi.bi-arrow-down#asc-sort.visually-hidden
                                    i.bi.bi-arrow-up#desc-sort.visually-hidden
                            th.text-center(scope="col")
                                button.btn-field.btn.p-0#btn-name-input(style="outline:0" value="email") Email
                                    i.bi.bi-arrow-down-up.ms-1#default-sort
                                    i.bi.bi-arrow-down#asc-sort.visually-hidden
                                    i.bi.bi-arrow-up#desc-sort.visually-hidden
                            th.text-center(scope="col")
                                button.btn-field.btn.p-0#btn-name-input(style="outline:0" value="deletedAt") Time
                                    i.bi.bi-arrow-down-up.ms-1#default-sort
                                    i.bi.bi-arrow-down#asc-sort.visually-hidden
                                    i.bi.bi-arrow-up#desc-sort.visually-hidden
                            th.text-center(scope="col") Action
                        - let i = index;
                    -if(users.length != 0)
                        tbody
                            each user in users 
                                tr
                                    th.text-center
                                        input.form-check(type='checkbox' form="form-check" name='usersSelect[]' value=`${user._id}`)
                                    td.text-center= i
                                    td.text-center= user.name 
                                    td.text-center= user.email 
                                    td.text-center= new Date(user.deletedAt)
                                    td.text-center
                                        button#restoreBtn(class="btn btn-outline-success btn-sm me-2",type="button", onclick=`restoreAction('${user._id}')`) Restore
                                        button#restoreBtn(class="btn btn-outline-danger btn-sm",type="button", onclick=`deleteAction('${user._id}')`) Delete
                                - i++
                -if(users.length == 0)
                    p.text-center Không có user nào bị xóa.
                nav(aria-label='Page navigation example')
                    - let p = spage + 1
                    ul.pagination
                        - if (spage != 1)
                            li.page-item
                                button.page-link(onclick=`getPage(${spage-1})`) 
                                    i(class="bi bi-arrow-left"  width='32' height='32')
                        - if(epage > 1)            
                            li.page-item
                                button.page-link(onclick=`getPage(${spage})`)= spage
                        while p <= epage - 1 
                            li.page-item
                                button.page-link(onclick=`getPage(${p})`) #{p}
                            - p++
                        - if(epage > 1)
                            li.page-item
                                button.page-link(onclick=`getPage(${epage})`)= epage
                        - if (epage != maxpage)
                            li.page-item
                                button.page-link(onclick=`getPage(${epage})`) 
                                    i(class="bi bi-arrow-right"  width='32' height='32')
    form.restore-form(name="restore-user" method="POST" action="")
    form.delete-form(name="delete-user" method="POST" action="")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/scripts/users/restore_and_delete.js' type="text/javascript")
    script(src='/scripts/users/checkbox_handler.js')
    script(type="text/javascript", src="/scripts/users/sort.js")
    


    